<h2>Expansion Panel</h2>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Angular fundamentals
    </mat-panel-title>
    <mat-panel-description>
      Lorem ipsum dolor sit amet.
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>Consectetur adipisicing elit. Adipisci aspernatur atque aut blanditiis consequatur
    consequuntur deleniti, fugiat, harum impedit maxime molestiae molestias nemo nulla obcaecati, quisquam ratione
    repudiandae soluta voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae eaque
    fugiat
    illum ipsam libero modi nesciunt soluta totam unde? Dolores error esse iste, nisi quia quod unde voluptatibus?
    Sapiente?</p>
  <mat-action-row>
    <button mat-button>Enroll</button>
  </mat-action-row>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Angular Material
    </mat-panel-title>
    <mat-panel-description>
      Total Duration: 3 hours
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p> Sapiente?</p>
  <mat-action-row>
    <button mat-button>Enroll</button>
  </mat-action-row>
</mat-expansion-panel>

<mat-divider></mat-divider>
<h2>Accordion</h2>

<mat-accordion multi="true">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular fundamentals
      </mat-panel-title>
      <mat-panel-description>
        Lorem ipsum dolor sit amet.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Consectetur adipisicing elit. Adipisci aspernatur atque aut blanditiis consequatur
      consequuntur deleniti, fugiat, harum impedit maxime molestiae molestias nemo nulla obcaecati, quisquam ratione
      repudiandae soluta voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae eaque
      fugiat
      illum ipsam libero modi nesciunt soluta totam unde? Dolores error esse iste, nisi quia quod unde voluptatibus?
      Sapiente?</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular Material
      </mat-panel-title>
      <mat-panel-description>
        Total Duration: 3 hours
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p> Sapiente?</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular Material
      </mat-panel-title>
      <mat-panel-description>
        Total Duration: 3 hours
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p> Sapiente?</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
