<span style="color: orange"> Custom Snackbar</span>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus alias architecto, beatae, debitis dolore
  dolores doloribus earum eos fugiat libero magni maxime nemo nisi numquam quas quia quisquam unde!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eaque eveniet illum in iure minima molestias,
  nesciunt non omnis porro praesentium quam voluptatum! Cupiditate deleniti libero omnis perferendis rerum sapiente.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur assumenda aut consectetur cumque debitis
  delectus et, ex exercitationem facilis iste, minima omnis provident repudiandae sunt suscipit temporibus vero,
  voluptates?</p>
