<h1>Tooltip</h1>
<hr>
<h2>Default</h2>
<button mat-raised-button matTooltip="Welcome to my Homepage">Hello</button>

<mat-divider></mat-divider>

<h2>Position changed</h2>
<button mat-raised-button matTooltip="Welcome to my Homepage" matTooltipPosition="after">After</button>
<button mat-raised-button matTooltip="Welcome to my Homepage" matTooltipPosition="before">Before</button>


<mat-divider></mat-divider>

<h2>Delayed</h2>
<p>Show and hide delay with 2 seconds</p>
<button
  mat-raised-button
  matTooltip="Welcome to my Homepage"
  matTooltipShowDelay="2000"
  matTooltipHideDelay="2000"
>
  Delay
</button>
