<h2 mat-dialog-title>Session timeout</h2>
<mat-dialog-content class="mat-typography">
  <p>Hi {{data.name}}. You will be logged out due to inactivity</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequuntur eligendi et impedit labore, magni
    molestiae numquam optio provident quam qui, reiciendis, rem saepe unde voluptates. Dolorum harum quas sed. Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Minus perferendis possimus quis quisquam quo sunt vel veritatis.
    Earum esse nihil tenetur. A dolorem et hic libero molestias non repellat veniam. Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Architecto autem consequuntur, earum eum nihil praesentium provident rem. Ad
    distinctio, quam. Alias dolores eos iste mollitia quasi quisquam repellendus totam, voluptates? Lorem ipsum dolor
    sit amet, consectetur adipisicing elit. At consequuntur cumque deserunt dolor eveniet fugiat fugit incidunt, iste,
    maiores molestiae necessitatibus perferendis placeat porro quasi, quisquam sit tempora tenetur voluptates.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eos fugiat non pariatur, quos recusandae
    voluptatem? Accusantium, adipisci aliquam, aspernatur consequuntur corporis dolorum ea libero magni, nam quisquam
    sed veniam.</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close="true">Keep me logged in</button>
  <button mat-button mat-dialog-close="false">Log out</button>
</mat-dialog-actions>
