<mat-tab-group #tabRef (selectedTabChange)="logChange(tabRef.selectedIndex)" dynamicHeight>

  <mat-tab label="28 - Virtual Scrolling">
    <ng-template matTabContent>
      <app-l28-virtual-scrolling></app-l28-virtual-scrolling>
    </ng-template>
  </mat-tab>
  <mat-tab label="27 - Data Table">
    <ng-template matTabContent>
      <app-l27-data-table></app-l27-data-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="26 - Dialogs">
    <ng-template matTabContent>
      <app-l26-dialogs></app-l26-dialogs>
    </ng-template>
  </mat-tab>
  <mat-tab label="25 - Snackbar">
    <ng-template matTabContent>
      <app-l25-snackbar></app-l25-snackbar>
    </ng-template>
  </mat-tab>
  <mat-tab label="24 - Tooltip">
    <ng-template matTabContent>
      <app-l24-tooltip></app-l24-tooltip>
    </ng-template>
  </mat-tab>
  <mat-tab label="23 - Date Picker">
    <ng-template matTabContent>
      <app-l23-date-picker></app-l23-date-picker>
    </ng-template>
  </mat-tab>
  <mat-tab label="22 - Checkbox and Radio Buttons">
    <ng-template matTabContent>
      <app-l22-checkbox-radio-button></app-l22-checkbox-radio-button>
    </ng-template>
  </mat-tab>
  <mat-tab label="21 - Autocomplete">
    <ng-template matTabContent>
      <app-l21-autocomplete></app-l21-autocomplete>
    </ng-template>
  </mat-tab>
  <mat-tab label="20 - Select">
    <ng-template matTabContent>
      <app-l20-select></app-l20-select>
    </ng-template>
  </mat-tab>
  <mat-tab label="19 - Input">
    <ng-template matTabContent>
      <app-l19-input></app-l19-input>
    </ng-template>
  </mat-tab>
  <mat-tab label="18 - Stepper - Vertical">
    <ng-template matTabContent>
      <app-l18-stepper-vertical></app-l18-stepper-vertical>
    </ng-template>
  </mat-tab>
  <mat-tab label="17 - Stepper - Horizontal">
    <ng-template matTabContent>
      <app-l17-stepper-horizontal></app-l17-stepper-horizontal>
    </ng-template>
  </mat-tab>
  <mat-tab label="16 - Cards">
    <ng-template matTabContent>
      <app-l16-cards></app-l16-cards>
    </ng-template>
  </mat-tab>
  <mat-tab label="15 - Expansion Panel, Accordion">
    <ng-template matTabContent>
      <app-l15-expansion-panel></app-l15-expansion-panel>
    </ng-template>
  </mat-tab>
  <mat-tab label="14 - Grids">
    <ng-template matTabContent>
      <app-l14-grids></app-l14-grids>
    </ng-template>
  </mat-tab>
  <mat-tab label="13 - List">
    <ng-template matTabContent>
      <app-l13-list></app-l13-list>
    </ng-template>
  </mat-tab>
  <mat-tab label="12 - Menu">
    <ng-template matTabContent>
      <app-l12-menu></app-l12-menu>
    </ng-template>
  </mat-tab>
  <mat-tab label="11 - Sidebar">
    <ng-template matTabContent>
      <app-l11-sidebar></app-l11-sidebar>
    </ng-template>
  </mat-tab>
  <mat-tab label="10 - Navbar">
    <ng-template matTabContent>
      <app-l10-navbar></app-l10-navbar>
    </ng-template>
  </mat-tab>
  <mat-tab label="9 - Progress Bar">
    <ng-template matTabContent>
      <app-l09-progress-bar></app-l09-progress-bar>
    </ng-template>
  </mat-tab>
  <mat-tab label="8 - Progress Spinner">
    <ng-template matTabContent>
      <app-l08-progress-spinner></app-l08-progress-spinner>
    </ng-template>
  </mat-tab>
  <mat-tab label="7 - Material Badges">
    <ng-template matTabContent>
      <app-l07-material-badges></app-l07-material-badges>
    </ng-template>
  </mat-tab>
  <mat-tab label="6 - Material Icons">
    <ng-template matTabContent>
      <app-l06-material-icons></app-l06-material-icons>
    </ng-template>
  </mat-tab>
  <mat-tab label="5 - Button Toggle">
    <ng-template matTabContent>
      <app-l05-button-toggle></app-l05-button-toggle>
    </ng-template>
  </mat-tab>
  <mat-tab label="4 - Buttons">
    <ng-template matTabContent>
      <app-l04-buttons></app-l04-buttons>
    </ng-template>
  </mat-tab>
  <mat-tab label="3 - Typography">
    <ng-template matTabContent>
      <app-l03-typography></app-l03-typography>
    </ng-template>
  </mat-tab>
</mat-tab-group>
