<mat-card>
  <mat-card-title>
    Card title
  </mat-card-title>
  <mat-card-content>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad aliquid beatae commodi consectetur exercitationem
    fugiat illo illum in ipsa, ipsum iusto laudantium, nobis nostrum quae quisquam quod repellendus sed.
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button>
      <mat-icon>exit_to_app</mat-icon>
    </button>
    <button mat-button>
      <mat-icon>login</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
